/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
  width: 600px;
  border-radius: 20px;
  overflow:hidden;
  margin-top: 16px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background: #141e32;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 20px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
}

/*style items (options):*/
.select-items {
  position: relative;
  background: #141e32;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
