@import 'config';
@import 'responsive';
@import 'utilities';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body,
html {
  background: url('/img/headersvgs.jpg') transparent no-repeat 0 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media #{$large_device} {
    max-width: 1140px;
  }
  @media #{$mid_device} {
    max-width: 992px;
  }
  @media #{$tablet_device} {
    max-width: 768px;
  }
  @media #{$mobile_device} {
    max-width: 100%;
  }
}

.header-wrapper {
  height: 100px;
  &__text {
    margin-left: 16px;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #141e32;
  }
  &__btn {
    border: 1px solid #d67470;
    box-sizing: border-box;
    border-radius: 50px;
    color: #d67470;
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    background: transparent;
    padding: 24px 60px;
  }
}

//content

.hero {
  margin: 0 0 90px;
  &-bg {
    width: 709px;
    height: 732px;
    background: url('/img/hero-girl.png');
    position: absolute;
    top: 30px;
    right: -40px;
    display: block;
  }

  &__desc {
    max-width: 625px;
    min-height: 750px;
    h1 {
      text-align: left;
      font-family: 'Roboto Slab', sans-serif;
      font-weight: bold;
      font-size: 42px;
      line-height: 100%;
      color: #61a88e;
    }
    p {
      font-family: 'Montserrat', 'sans-serif';
      font-weight: 500;
      font-size: 20px;
      margin: 0 0 35px;
    }
    .counter {
      flex-wrap: wrap;
      justify-content: end;
      &__item {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-right: 14px;
      }
      &__label {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #4f4f4f;
      }
      &__values {
        span {
          display: inline-block;
          background: url('/assets/transparent/counter.svg');
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 28px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
  &__btn {
    background: #d67470;
    border-radius: 100px;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #ffffff;
    padding: 22px 16px;
    border: none;
    margin-top: 67px;
  }
}

.course {
  background: url('/assets/transparent/course_svgs.jpg') no-repeat
  calc(60% - 160px) 80px  ;
  position: relative;
  margin: 0 0 -10px;
  padding: 0 0 130px;
  &__image {
    border-radius: 50%;
    overflow: hidden;
    width: 390px;
    height: 390px;
    flex: 390px 0 0;
  }

  &__info {
    padding: 60px 0 0 70px;
    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: #141e32;
      margin: 17px 0;
    }

  }
}

.tariff {
  margin-bottom: 150px;
  &__item {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 20px rgba(61, 151, 118, 0.15);
    border-radius: 20px;
    padding: 30px 30px 0;
    overflow: hidden;
    position: relative;
    margin: 0 0 20px;
    h3 {
      font-size: 24px;
      text-transform: uppercase;
      color: #4f4f4f;
      text-align: center;
    }

    &_price {
      text-align: center;
      margin: 0 0 40px;
      span {
        font-size: 18px;
        line-height: 130%;
        -webkit-text-decoration-line: line-through;
        text-decoration-line: line-through;
        color: #000;
        margin: 0 25px 0 0;
      }
    }
    ul {
      font-family: 'Montserrat', 'Roboto', 'Arial', 'san-serif';
      font-weight: 500;
      font-size: 18px;
      color: #141e32;
      line-height: 130%;
      list-style: none;
      margin-bottom: 100px;
      li {
        position: relative;
        padding: 0 0 0 34px;
        margin: 0 0 15px;
        list-style-type: none;
      }
      li:before {
        content: '';
        width: 24px;
        height: 24px;
        background: transparent;
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
    &_bottom button {
      background: #fff;
      border-radius: 10px;
      font-weight: 700;
      font-size: 18px;
      line-height: 130%;
      text-align: center;
      border: 0;
      z-index: 5;
      position: relative;
      padding: 19px 27px;
      top: -25px;
    }
    &.base {
      height: 630px;
      h3:after {
        content: '';
        width: 46px;
        height: 1px;
        background: #61a88e;
        display: block;
        margin: 12px auto 20px;
      }
      .tariff__item_price {
        b {
          font-size: 24px;
          line-height: 130%;
          font-weight: 700;
          color: #61a88e;
        }
      }
      .tariff__item_bottom button {
        color: #61a88e;
      }
      .tariff__item_bg {
        background: url('/assets/transparent/base_footersvg.svg');
        background-size: cover;
      }
      ul {
        li:before {
          background: url('/assets/transparent/tick.svg');
          background-size: cover;
        }
      }
    }
    &.standart {
      height: 700px;
      h3:after {
        content: '';
        width: 46px;
        height: 1px;
        background: #e5be77;
        display: block;
        margin: 12px auto 20px;
      }
      .tariff__item_price {
        b {
          font-size: 24px;
          line-height: 130%;
          font-weight: 700;
          color: #e5be77;
        }
      }
      .tariff__item_bottom button {
        color: #e5be77;
      }
      .tariff__item_bg {
        background: url('/assets/transparent/standart_footersvg.svg');
        background-size: cover;
      }
      ul {
        li:before {
          background: url('/assets/transparent/yellow_tick.svg');
          background-size: cover;
        }
      }
    }
    &.business {
      height: 630px;
      h3:after {
        content: '';
        width: 46px;
        height: 1px;
        background: #dc9996;
        display: block;
        margin: 12px auto 20px;
      }
      .tariff__item_price {
        b {
          font-size: 24px;
          line-height: 130%;
          font-weight: 700;
          color: #dc9996;
        }
      }
      .tariff__item_bottom button {
        color: #dc9996;
      }
      .tariff__item_bg {
        background: url('/assets/transparent/business_footersvg.svg');
        background-size: cover;
      }
      ul {
        li:before {
          background: url('/assets/transparent/pink_tick.svg');
          background-size: cover;
        }
      }
    }
    &_bg {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 103px;
    }
  }
}
.will-learn {
  background: url('/img/will-learnsvgs.jpg');
  position: relative;
  padding-bottom: 120px;
  &__item {
    background: #ffffff;
    opacity: 0.9;
    border: 1px solid #8cbcab;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0 20px;
    height: 126px;
    margin: 0 0 15px;
  }
  &__sub {
    background: #e5be77;
    box-shadow: 0px 0px 20px rgba(61, 151, 118, 0.15);
    border-radius: 20px;
    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      text-align: center;
      color: #ffffff;
      padding: 22px;
    }
  }
}

.how-to {
  margin-bottom: 110px;
  &__wrap {
    background: #3d9776;
    position: relative;
  }
  &__wrap:before {
    content: '';
    background: url('/img/how-to_cover.jpg') bottom;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.2;
  }
  &__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    color: #ffffff;
    text-align: center;
    width: 525px;
    height: 200px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__laptop {
    position: relative;
    background: url('/assets/transparent/Devices/mac.svg');
    margin: 0 auto;
    background-size: cover;
    top: 0;
    width: 574px;
    height: 330px;
    &-content {
      background: #fff;
      overflow: hidden;
      position: absolute;
      width: 442px;
      height: 277px;
      top: 20px;
      left: 67px;
      img {
        position: absolute;
      }
    }
  }
}
.comforts {
  padding-bottom: 100px;
  background: url('/img/comfort_cover.jpg');
  &__item {
    width: 33.333%;
    padding: 0 15px;
    margin: 0 0 15px;
    &-wrap {
      height: 168px;
      background: #61a88e;
      box-shadow: 0px 4px 30px rgba(20, 30, 50, 0.15);
      border-radius: 20px;
      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: #ffffff;
      }
    }
    &-wrap.yellow {
      background: #e5be77;
    }
  }
}
.author {
  background: url('/img/author_svgs.jpg') #fff no-repeat calc(50% + 210px) 40px;
  margin-bottom: 35px;
  &__bg {
    background: url('/img/author.png') no-repeat 50%;
    background-size: contain;
    width: 520px;
    height: 454px;
  }
  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: #61a88e;
    margin-bottom: 50px;
  }
  &__success {
    &-item {
      background: #ffffff;
      border: 1px solid #8cbcab;
      box-sizing: border-box;
      border-radius: 20px;
      height: 126px;
      width: 270px;
      box-sizing: border-box;
      margin-right: 10px;
      margin-bottom: 12px;
      padding: 28px 16px;
      p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: #141e32;
        span {
          color: #3d9776;
        }
      }
    }
  }
}
.comment {
  margin: 0 0 90px;
  &-container {
    flex-wrap: wrap;
  }
  &-bg {
    background: url('/assets/transparent/slide-bg.svg') no-repeat;
    background-size: contain;
    border-radius: 20px;
    overflow: hidden;
    // flex: 100% 0 0;
    margin: 20px auto 0;
    order: 0;
    flex: 326px 0 0;
    width: 326px;
    height: 509px;
  }
  &-wrap:before {
    background: url('/assets/transparent/quote-top.svg');
    left: 0;
    top: 0;
  }
  &-wrap {
    width: 420px;
    min-height: 335px;
  }
  &-wrap:after {
    background: url('/assets/transparent/quote-bottom.svg');
    left: 0;
    top: 0;
  }
  &__item {
    p {
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: #000000;
    }
  }
  &-girlbg {
    background: url('/assets/transparent/commentgirl.svg');
    width: 289px;
    height: 335px;
  }
  &-control {
    svg {
      cursor: pointer;
    }
    svg:first-child {
      margin-right: 15px;
    }
    &__dot {
      span {
        cursor: pointer;
        display: inline-block;
        height: 17px;
        width: 17px;
        border: 1px solid #e5be77;
        background: #fff;
        border-radius: 50%;
        margin: 0 10px 0 0;
      }
      span.active {
        background: #e5be77;
      }
    }
  }
  .glide__slide {
    img {
      max-width: 100%;
    }
  }
}
.start {
  .counter {
    margin-bottom: 60px;

    &__item {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      margin-right: 14px;
    }
    &__label {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: #4f4f4f;
    }
    &__values {
      span {
        display: inline-block;
        background: url('/assets/transparent/counter.svg');
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 28px;
        text-align: center;
        color: #ffffff;
      }
    }
  }

  &-item {
    width: 30%;
    &__title {
      font-size: 24px;
      line-height: 100%;
      text-transform: uppercase;
      color: #4f4f4f;
    }
    &__title:after {
      content: '';
      display: block;
      width: 46px;
      height: 1px;
      background: #61a88e;
      margin: 12px auto 20px;
    }
    &__price {
      span {
        font-size: 18px;
        line-height: 130%;
        text-decoration-line: line-through;
        color: #000000;
        margin-right: 24px;
      }
      b {
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        color: #61a88e;
      }
    }
    &.standart {
      b {
        color: #e5be77;
      }
    }
    &.business {
      b {
        color: #dc9996;
      }
    }
    &__wrap:before {
      content: '';
      width: 32px;
      height: 32px;
      background: #ffffff;
      border: 1px solid #61a88e;
      border-radius: 50%;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      right: 0;
      margin: 8px;
    }
    &.standart {
      .start-item__wrap:before {
        border: 1px solid #e5be77;
      }
    }
    &.business {
      .start-item__wrap:before {
        border: 1px solid #dc9996;
      }
    }
    &__wrap {
      background: #ffffff;
      box-shadow: 0px 0px 20px rgba(61, 151, 118, 0.15);
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      padding: 20px 0 135px;
    }
    &__bg {
      background: url('/assets/transparent/base_footersvg.svg') no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 103px;
    }
    &.standart {
      .start-item__bg {
        background: url('/assets/transparent/standart_footersvg.svg') no-repeat;
      }
    }
    &.business {
      .start-item__bg {
        background: url('/assets/transparent/business_footersvg.svg') no-repeat;
      }
    }
  }
  &-price {
    margin-top: 28px;
    b {
      font-weight: bold;
      font-size: 18px;
      line-height: 130%;
      color: #000000;
    }
    span {
      font-weight: bold;
      font-size: 24px;
      line-height: 130%;
      color: #61a88e;
    }
    button {
      background: #d67470;
      border-radius: 10px;
      font-weight: bold;
      font-size: 18px;
      line-height: 130%;
      text-align: center;
      color: #ffffff;
      border: none;
      padding: 18px 30px;
      margin: 15px 0 0;
    }
  }
}

@import 'medias';
